body {
	font-family: "Arial", Helvetica, sans-serif;
    background: #092756;
    color: white;
    text-align: center;
}
h1 {
    margin-top: 35px;
}

h2{
    margin-top: 45px;
}

h3{
    margin-top: 60px;
    font-size: 25px;
}


.button{
    padding: 50px 85px;
    margin-top: 80px;
    margin-right: 85px;
    margin-left: 60px;
    border-radius: 12px;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    background-color: gold;
}