<html>
    <head>
        <link rel ="stylesheet" href="../static/css/base.css">
        {% if title %}
        <title>{{ title }} - Bar DB</title>
        {% else %}
        <title>Bar DB</title>
        {% endif %}
    </head>
    <body>
        <div>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        <h2><hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
            </h2>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>