{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <link rel= stylesheet href="../static/css/drink_menu.css">
</head>
<body>
    <h1> The BarDB Menu</h1>
    <button class="button"> Beer BudLight</button>
    <button class="button"> Beer Yuengling</button>
    <button class="button"> Beer Budweiser</button>
    <button class="button"> Beer Guiness</button>
    <button class="button"> Beer Dos Equis</button>
    <button class="button"> Beer Shiner Bock</button>
    <button class="button"> Cocktails Mudslide</button>
    <button class="button"> Cocktails Old Fashioned</button>
    <button class="button"> Cocktails Gin and Tonic</button>
    <button class="button"> Cocktails Screwdriver</button>
    <button class="button"> Cocktails Martini</button>
    <button class="button"> Cocktails Black Russian</button>
</body>
</html>