
{% block content %}
<html lang="en">
<head>
    <link rel=stylesheet href="../static/css/drink_menu.css">
</head>
<body>
<h1> The BarDB Menu</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.budlight_bottle() }} </p>
    {% for error in form.budlight_bottle.errors %}
    <span style="color: red;">*</span>
    {% endfor %}
    <p>{{ form.yuengling_bottle() }} </p>
    {% for error in form.yuengling_bottle.errors %}
    <span style="color: red;">*</span>
    {% endfor %}
    <p>{{ form.budweiser_bottle() }} </p>
    {% for error in form.budweiser_bottle.errors %}
    <span style="color: red;">*</span>
    {% endfor %}
    <p>{{ form.guinness_bottle() }} </p>
    {% for error in form.guinness_bottle.errors %}
    <span style="color: red;">*</span>
    {% endfor %}
    <p>{{ form.dos_equis_bottle() }} </p>
    {% for error in form.dos_equis_bottle.errors %}
    <span style="color: red;">*</span>
    {% endfor %}
    <p>{{ form.shiner_bock_bottle() }} </p>
    {% for error in form.shiner_bock_bottle.errors %}
    <span style="color: red;">*</span>
    {% endfor %}
    <p>{{ form.lagavulin_16_neat() }} </p>
    {% for error in form.lagavulin_16_neat.errors %}
    <span style="color: red;">*</span>
    {% endfor %}
    <p>{{ form.old_fashioned() }} </p>
    {% for error in form.old_fashioned.errors %}
    <span style="color: red;">*</span>
    {% endfor %}
    <p>{{ form.manhattan() }} </p>
    {% for error in form.manhattan.errors %}
    <span style="color: red;">*</span>
    {% endfor %}
    <p>{{ form.martini() }} </p>
    {% for error in form.martini.errors %}
    <span style="color: red;">*</span>
    {% endfor %}
    <p>{{ form.daiquiri() }} </p>
    {% for error in form.daiquiri.errors %}
    <span style="color: red;">*</span>
    {% endfor %}
    <p>{{ form.black_russian() }} </p>
    {% for error in form.black_russian.errors %}
    <span style="color: red;">*</span>
    {% endfor %}
    <p>{{ form.finished() }} </p>
</form>
</body>
</html>
{% endblock %}