{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <link rel= stylesheet href="../static/css/drink_menu.css">
</head>
<body>
    <h1> The BarDB Menu</h1>
    <button class="button"> BudLight</button>
    <button class="button"> Yuengling</button>
    <button class="button"> Budweiser</button>
    <button class="button"> Guinness</button>
    <button class="button"> Dos Equis</button>
    <button class="button"> Shiner Bock</button>
    <button class="button"> Scotch Lagavulin 16 Neat</button>
    <button class="button"> Bourbon Old Fashioned</button>
    <button class="button"> Rye Manhattan</button>
    <button class="button"> Rum Daiquiri</button>
    <button class="button"> Gin Martini</button>
    <button class="button"> Vodka Black Russian</button>
</body>
</html>