{% extends "base.html" %}
{% block content %}
    <head>
	<link rel ="stylesheet" href="../static/css/login.css">
    </head>
    <body>
 	<h1> Welcome to the BarDB</h1>
    </h2>
    </p>
	<h3>Please Login</h3>
    <h4><form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.bartender_id.label }}
            {{ form.bartender_id(size=10) }}
            {% for error in form.bartender_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        <a href = "{{ url_for('register') }}"> Don't have a bartender account?</a> </h4>
    </form>
    </body>
{% endblock %}