{% extends "drink_menu.html" %}
{% block content %}
<html lang="en">
<head>
    <link rel= stylesheet href="../static/css/stock.css">
</head>
<body>
    <h1> Current Stock </h1>
    <!-- BEER  -->
    <h2>BudLight: </h2>
    <h2>Yuengling: </h2>
    <h2>Budweiser: </h2> <!-- get variable from DB -->
    <h2>Guiness: </h2>
    <h2>Dos Equis: </h2>
    <h2>Shiner Bock: </h2>
    <!-- COCKTAIL INGREDIENTS -->
    <!-- Mudslide -->
    <h2>Irish Cream Liquor: </h2>
    <h2>Vodka: </h2>
    <h2>Coffee Liquor: </h2>
    <!-- Old Fashioned -->
    <h2>Bourbon: </h2>
    <h2>Bitters: </h2>
    <h2>Sugar Cubes: </h2>
    <!--Gin and Tonic -->
    <h2>Gin: </h2>
    <h2>Tonic Water: </h2>
    <h2>Limes: </h2>
    <!-- ScrewDriver -->
    <!-- Vodka -->
    <h2>Orange Juice: </h2>
    <!-- Martini -->
    <!--Gin -->
    <h2>Dry Vermouth: </h2>
    <h2>Olives: </h2>
    <!-- Black Russian -->
    <!-- vodka -->
    <!-- coffee liqour -->
</body>


Mudslide</button>
    <button class="button"> Cocktails Old Fashioned</button>
    <button class="button"> Cocktails Gin and Tonic</button>
    <button class="button"> Cocktails Screwdriver</button>
    <button class="button"> Cocktails Martini</button>
    <button class="button"> Cocktails Black Russian</button>