{% extends "base.html" %}

{% block content %}

<html lang="en">
<head>
    <link rel= stylesheet href="../static/css/stock.css">
</head>
<body>
    <h1> Current Stock </h1>
    {% for i, j in beerDict.items(): %}
        <h2>{{i}} : {{j}}</h2>
        <!--<p>${{j}}</p>-->
    {% endfor %}
    <h2>Total beer supply: {{totalbeersupply}}</h2>
    {% for i, j in rumDict.items(): %}
        <h2>{{i}} : {{j}}</h2>
    {% endfor %}
    {% for i, j in vodkaDict.items(): %}
        <h2>{{i}} : {{j}}</h2>
    {% endfor %}
    {% for i, j in bourbonDict.items(): %}
        <h2>{{i}} : {{j}}</h2>
    {% endfor %}
    {% for i, j in ryeDict.items(): %}
        <h2>{{i}} : {{j}}</h2>
    {% endfor %}
    {% for i, j in scotchDict.items(): %}
        <h2>{{i}} : {{j}}</h2>
    {% endfor %}
    {% for i, j in ginDict.items(): %}
        <h2>{{i}} : {{j}}</h2>
    {% endfor %}


</body>

{% endblock %}